QMainWindow {
        border: 1px solid rgb(111, 156, 207);
        background: rgb(232, 241, 252);
}

QGroupBox {
        border: 0.5px solid rgb(111, 156, 207);
}

QGroupBox::title {
        color: rgb(56, 99, 154);
}
